extends ../layout/common.pug
block content

	h1 Create Education

	each pos in positions
		form(action="/position/"+pos.pos_id+"/edit", method="POST")
			.form-group
				label(for="id") ID
				input#id.form-control(type="text", name="id", value=pos.pos_id)

			.form-group
				label(for="name") Name
				input#name.form-control(type="text", name="name", value=pos.pos_name)

<<<<<<< HEAD
			button.btn.btn-primary Save
=======
			button.btn.btn-primary Update
>>>>>>> 7c2aced2217daa26754383083611bdcd89577e93
