extends ../layout/common.pug
block content

		div.row.mt-2
			h1 Positions
			a.btn(href="/position/create") New
			form.col-sm.form-inline.d-flex.justify-content-end(action="/position/search", method="GET")
				input.form-control.mr-sm-2(type="text", name="q")
				button.btn.btn-outline-success(type='submit') Search
		

			table.table
				tr
					th ID
					th Name
					th
				each pos in positions
					tr
						td=pos.pos_id
						td=pos.pos_name
						td
							.from-group
								.dropdown
									button#dropdownMenuButton.btn.btn-outline-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										|	Option
									.dropdown-menu(aria-labelledby='dropdownMenuButton')
										a.dropdown-item(href="/position/"+pos.pos_id+"/edit") Edit
										a.dropdown-item(href="/position/"+pos.pos_id+"/delete") Delete
						
		nav(aria-label='Page navigation example')
			ul.pagination
				if n[0] > 1
					li.page-item
						a.page-link(href='?page='+(n[0]-1).toString()) Previous
				each page in n
					li.page-item
						a.page-link(href='?page='+ page)=page
				li.page-item
					a.page-link(href='?page='+(current[0]+1).toString()) Next