extends ../layout/common.pug
block content

	h1 Create Employee

	if errors
		each error in errors
			.alert.alert-danger=error


	form(action="/employees/create", method="POST")
		.form-group
			label(for="id") ID
			input#id.form-control(type="text", name="id", value = values ? values.id : '')

		.form-group
			label(for="name") Name
			input#name.form-control(type="text", name="name", value = values ? values.name : '')

		.form-group
			lablel(for="address") Address
			input#address.form-control(type="text", name="address", value = values ? values.address : '')

		.form-group.d-flex
			lablel(for="male") Male
			input#male.form-control(type="radio", name="gender", value ="M")
			lablel(for="female") Female
			input#female.form-control(type="radio", name="gender", value ="F")

		.form-group
			lablel(for="birthday") Birthday
			input#birthday.form-control(type="date", name="birthday", value = values ? values.birthday : '')

		.form-group
			lablel(for="phone") Phone
			input#phone.form-control(type="text", name="phone", value = values ? values.phone : '')

		lable Level Salary
		.input-group.mb-3
			.input-group-prepend
				label.input-group-text(for='inputGroupSelect01') Options
			select#inputGroupSelect01.custom-select(name='salary')
				option(selected='') Choose...
				each sal in salary
					option(value=sal.sal_lvl)=sal.sal_lvl
				
	
											
		
		button.btn.btn-primary Create
