extends ../layout/common.pug
block content

	h1 Employees 

	a.i.fas.fa-home.btn.btn-primary(href="/")
	br
	a.btn.btn-primary(href="/employees/create") New Employee


	form(action="/employees/search", method="GET")
		input(type="text", name="q")
		button(class="btn btn-primary ml-2") search
		
	table.table
		tr
			th Name
			th Address
			th ID
			th
		each emp in emps
			tr
				td=emp.emp_name
				td=emp.emp_address
				td=emp.emp_id
				td
					.btn-group
						a.btn.btn-primary(href="/employees/"+ emp.emp_id) view
						a.btn.btn-primary(href="/employees/"+emp.emp_id+"/delete") Delete
