extends ../layout/common.pug
block content

	h1 Employees 

	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item
					a.i.fas.fa-home.nav-link(href="/")
				li.nav-item
					a.nav-link(href="/employees/create") New Employee
			
			form.form-inline.my-2.my-lg-0(action="/employees/search", method="GET")
				input.form-control.mr-sm-2(type="text", name="q")
				button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

<<<<<<< HEAD
	a.btn.btn-primary(href="/employees/create") New Employee
	br
	a.i.fas.fa-home.btn.btn-primary(href="/")
=======
>>>>>>> e47892a9b7b0dbee3ce21262d3e2a01c5fee3529

		
	table.table
		tr
			th Name
			th Address
			th ID
			th
		each emp in emps
			tr
				td=emp.emp_name
				td=emp.emp_address
				td=emp.emp_id
				td
					.from-group
						.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								|	Option
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								a.dropdown-item(href="/employees/"+ emp.emp_id) View
								a.dropdown-item(href="/employees/"+emp.emp_id+"/edit") Edit
								a.dropdown-item(href="/employees/"+emp.emp_id+"/delete") Delete
							
								

