extends ./layout/common.pug
block content
	h1 Employees List
	.btn-group
		a.btn.btn-primary(href="/employees") Employees
		a.btn.btn-primary(href="/departments") Departments
		a.btn.btn-primary(href="/salary") Salary
