extends ./layout/common.pug
block content
	div.subject
		h1 DBMS-PROJECT
	div
		div.course-info
			p1 Course: Database Manage System
			br
			p1 CT208H
			br
			p1 Lecturer: Tran Cong An
		div.author-info
			div.text-info
				div
					p1 Pham Hoang Hao
				div
					p1 student id: B1606885
				div 
					p1 class: DI16V7F1
			div.image-info
				img(src="/images/employees.jpg").image-modify
				
		div.author-info.content-swap
			div.text-info
				div
					p1 Le Phuc Loc
				div
					p1 student id: B1606885
				div 
					p1 class: DI16v7F1
			div.image-info
				img(src="/images/employees.jpg").image-modify

		div
			div.nodejs-intro
				div
					p1 Powered By
					img(src="/images/nodejs-icon.png",width="150px",height="120px")

		

