extends ./layout/common.pug
block content

	div.subject
		h1 DBMS-PROJECT
	div
		div.course-info
			p1 Course: Database Manage System
			br
			p1 CT208H
			br
			p1 Lecturer: Tran Cong An
		div.author-info
			div.phh
				p1 Pham Hoang Hao
			div.lpl
				p1 Le Phuc Loc
		

