extends ../layout/common.pug
block content

	h1 Salary


	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item
					a.i.fas.fa-home.nav-link(href="/")
				li.nav-item
					a.nav-link(href="/salary/create") New Salary
			
			form.form-inline.my-2.my-lg-0(action="/salary/search", method="GET")
				input.form-control.mr-sm-2(type="text", name="q")
				button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

	table.table
			tr
				th Level
				th Basic
				th factor
				th Extra factor
				th
			each sal in salary
				tr
					td=sal.sal_lvl
					td=sal.sal_basic
					td=sal.sal_factor
					td=sal.sal_exfac
					td
						.from-group
						.dropdown
							button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								|	Option
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								a.dropdown-item(href="/salary/"+sal.sal_lvl+"/edit") Edit
								a.dropdown-item(href="/salary/"+sal.sal_lvl+"/delete") Delete