extends ../layout/common.pug
block content

	h1 View Department

	each dept in depts
		a.btn.btn-primary(href="/employees/"+dept.dept_id+"/edit") Edit
		ul.list-group
			.form-group
				label Name
				li.list-group-item.text-dark= dept.dept_name
			.form-group
				label Address
				li.list-group-item.text-dark= dept.dept_address
			.form-group
				label Phone
				li.list-group-item.text-dark= dept.dept_phone
			

			

				



	
	