extends ../layout/common.pug
block content

	h1 Create Time Working

	form(action="/timeWorking/create", method="POST")
		.form-group
			label(for="emp_id") Employees ID
			input#emp_id.form-control(type="text", name="emp_id")

		.form-group
			label(for="pos_id") Department ID
			input#pos_id.form-control(type="text", name="pos_id")

		.form-group
			label(for="inauguration") Date
			input#inauguration.form-control(type="date", name="inauguration")

		button.btn.btn-primary Create